.modal {
  border: none;
  padding: 0;
  background-color: transparent;
  min-width: 480px;
}

.modalInner {
  background: var(--color-bg);
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin: 0;
  }
}

.modal::backdrop {
  backdrop-filter: blur(2px) brightness(0.33);
}
