.hero {
  margin-bottom: 8px;
  padding: 14px;
}

.heroTitle {
  margin: 0;
}

.row {
  display: flex;
  gap: 16px;
  /*align-items: center;*/
}

.holdIcon {
  height: 54px;
  /*filter: saturate(0.8);*/
}

.compact {
  padding: 12px;

  .row {
    gap: 12px;
  }

  .heroTitle {
    font-size: 1.2rem;
  }

  .holdIcon {
    height: 36px;
  }
}
