.holdAction {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 12px;
}

.holdButton {
  --color-brand-icon-bg: transparent;
  border: 0;
  border-radius: 45%;
  background: linear-gradient(135deg, var(--color-brand-strong), var(--color-brand-soft));
  color: var(--color-text-inverse);
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--font-family-brand), sans-serif;
  padding: 12px 24px;
  cursor: pointer;
  letter-spacing: 2px;
  aspect-ratio: 1 / 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter var(--transition-duration) ease;

  &.holdComplete {
    opacity: 0;
  }

  &:hover {
    filter: brightness(110%) saturate(110%);
  }
  &:active {
    filter: brightness(110%) saturate(110%) contrast(120%);
    font-size: 1.75rem;
  }
}

.buttonStack {
  display: grid;
  grid-template-areas: 'stack';
  padding-block: 12px;
  justify-items: center;
  align-items: center;
  transition: scale var(--transition-duration) ease;
  scale: 1;

  > * {
    width: 100px;
    grid-area: stack;
    &.holdButton {
      z-index: 1;
    }
    &:not(.holdButton) {
      position: relative;
      top: 1px;
      z-index: 0;
      scale: 1.22;
    }
  }

  &:has(.holdButton:active) {
    scale: 0.95;
  }
}

.holdCaption {
  margin: 0;
  color: var(--color-text-tertiary);
}
