.wrapper {
  > div {
    transform: scaleX(-1);
    backdrop-filter: drop-shadow(0 0 40px rgba(0, 0, 0));
  }

  path {
    stroke: var(--color-brand-contrast);
  }

  g > g > g > g:first-of-type > path:first-of-type {
    fill: transparent;
  }
}
